body {
    background-color: #90fae7;
}

h1 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 96px;
    text-align-last: center;
    -webkit-text-stroke:1px #80f1dd;
}

div {
    color: #20b8b5;
}

.name {
    font-family: 'Roboto';
    font-size: 32px;
}

.string {
    font-family: 'Noto Sans JP';
    font-size: 18px;
}