@font-face {
    font-family: 'SourceHanSansJP';
    src: url('SourceHanSansJP-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

body {
    color: #20b8b5;
    background-color: #90fae7;
}

h1 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 96px;
    text-align-last: center;
    -webkit-text-stroke: 1px #80f1dd;
}

h2, p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.tag {
    font-family: 'Roboto';
    font-size: 32px;
}

.content {
    font-family: 'Source Han Sans';
    font-size: 48px;
}