/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

body {
    color: #20b8b5;
    background-color: #90fae7;
}

h1 {
    /* font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 96px;

    /* text */
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #80f1dd, 0 0 5px #80f1dd;
}

.tag {
    font-family: 'Roboto';
    font-size: 32px;

    text-align: left;
    margin-left: 64px;
}

.content {
    /*font-family: 'ヒラギノ明朝 Pro W3', '游明朝', 'MS Mincho', serif;*/
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}
