/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

body {
    color: #19adab;
    background-color: #90fae7;
    margin-left: 64px;
}

h1 {
    /* font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 96px;

    /* text */
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #80f1dd, 0 0 5px #80f1dd;

    /* layout */
    height: 32px;
}

ul {
    list-style-type: square;
}

.font-eng {
    font-family: "Roboto";
    font-size: 32px;
}

.font-content {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.inline {
    display: flex;
    align-items: center;
}

.inline h2 {
    margin-right: 24px;
}

.inline .adjust-position {
    margin-bottom: 8px;
}

.inline-list {
    display: flex;
}

.inline-list h2 {
    margin-right: 24px;
}

.inline-list .adjust-position {
    margin-top: 8px;
}
